<!DOCTYPE html>

<html lang="de">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="1800">
      <link href="css/Stylesheet.css" rel="Stylesheet">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="icon" href="Bilder/Logo.png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DotGothic16">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <title>TVStation</title>
   </head>
<body>
    <div class="header">
        <h1 class='bold'>Zentrale Informatik</h1>
        <p class="date" id="current-time"></p>
        <div class="bl-logo">
        <%= image_tag("Baselland.png", size: "235x55") %>
        </div>
    </div>

<script>
  function updateTime() {
    const currentTime = new Date();
    const options = {
      weekday: 'long',
      month: 'long',
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit',
      hour12: false,
    };

    const formattedTime = currentTime.toLocaleDateString('ch', options)
      .replace(/at\s/, '- ')
      .replace(/um\s/, '- ')

    document.getElementById('current-time').innerHTML = formattedTime;
  }

  updateTime();
  setInterval(updateTime, 1000);
</script>



    <div class="body">
        <div class="parent">
            <div class="div1"> 
                <div class="news">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="10000">
                        <ol class="carousel-indicators">
                        <% @i_news.each_with_index do |_, index| %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <%= index == 0 ? 'class="active"' : '' %>></li>
                        <% end %>
                        </ol>
                        <div class="carousel-inner">
                            <% @i_news.each_with_index do |item, index| %>
                                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                                    <div class="news-slide">
                                        <img class="minheightimg" src="<%= asset_path(item["author"] + ".png") %>" alt="">
                                        <p id="devider">- - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
                                        <h3 class="minheight"><%= truncate_title(item["title"], item["author"]) %></h3>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div2"> 
            <p class="weather-title">Wetterverlauf von heute</p>
                <div class="inner-parent">
                    <div class="div1">
                        <div class="verlauf">
                            <canvas id="myChart1"></canvas>
                        </div>
              
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        
                        <script>
                            const ctx1 = document.getElementById('myChart1');

                            ctx1.width = 900; // Breite in Pixeln
                            ctx1.height = -100; // Höhe in Pixeln
              
                            new Chart(ctx1, {
                            type: 'line',
                            data: {
                                labels: ['<%= @times_formatted[0] %>', '<%= @times_formatted[1] %>', '<%= @times_formatted[2] %>', '<%= @times_formatted[3] %>', '<%= @times_formatted[4] %>'],
                                datasets: [{
                                data: [<%= @temperatures[0] %>, <%= @temperatures[1] %>, <%= @temperatures[2] %>, <%= @temperatures[3] %>, <%= @temperatures[4] %>],
                                borderWidth: 2,
                                pointRadius: 3,
                                pointBackgroundColor: 'rgb(244, 210, 86)', // Specify red color for the last point
                                fill: true,
                                backgroundColor: 'rgb(252, 245, 217)',
                                borderColor: 'rgb(244, 210, 86)',
                                tension: 0.4
                                }]
                            },
                            options: {
                                scales: {
                                x: {
                                    grid: {
                                    display: false
                                    },
                                    ticks: {
                                        font: {
                                        size: 19, // Ändere die Schriftgröße hier
                                        family: 'Helvetica' // Schriftart
                                        }
                                    }
                                },
                                y: {
                                    display: false,
                                    ticks: {
                                    suggestedMin: 0 // Setze den niedrigsten Wert auf 0
                                    },
                                    max: 40, // Maximalwert auf der Y-Achse
                                }
                                },
                                plugins: {
                                legend: {
                                    display: false,
                                }
                                }
                            },
                            plugins: [{
                                afterDatasetsDraw: function (chart) {
                                const ctx = chart.ctx;
                                chart.data.datasets.forEach(function (dataset, datasetIndex) {
                                    const meta = chart.getDatasetMeta(datasetIndex);
                                    if (meta.hidden) return;
                                    meta.data.forEach(function (element, index) {
                                    // Zeichne den Text über dem Punkt
                                    ctx.fillStyle = 'black';
                                    const fontSize = 19;
                                    const fontStyle = 'normal';
                                    const fontFamily = 'Helvetica';
                                    ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);
                                    const dataPoint = dataset.data[index];
                                    const x = element.x;
                                    const y = element.y - 10;
                                    ctx.textAlign = 'center';
                                    ctx.textBaseline = 'bottom';
                                    ctx.fillText(dataPoint + '°', x, y);
                                    });
                                });
                                }
                            }]
                            });
                        </script>
                    </div>
                    <div class="weather">
                        <div class="inner-inner-parent">
                            <div class="div5">
                                <p class="bold">Heute</p>
                                <img class="weatherImage" src='https://openweathermap.org/img/wn/<%= @data["weather"].first["icon"] %>@2x.png' />
                                <% @daily_temperatures.each do |date, temps| %>
                                    <% if date.to_date == Date.today %>
                                        <p><%= temps[:min] %>° | <%= temps[:max] %>°</p>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="div6">
                                <p class="bold"><%= @data["main"]["temp"] %>°</p>
                                <i><%= @data["weather"].first["description"] %></i>
                                <p class="weatherinfo">Luftfeuchtigkeit: <%= @data["main"]["humidity"] %>%<br>Windstärke: <%= @data["wind"]["speed"] %> km/h</p>
                            </div>
                        </div>
                    </div>
                    <div class="div3">
                        <div class="weatherprediction">
                        <p class="bold"><%= (Date.today + 1).strftime('%A, %b %d').gsub(/\w+/, &:capitalize) %></p>
                        <% tomorrow = Date.today + 1 %>
                        <% @daily_weather_icons.each do |date, icon| %>
                            <% if date.to_date == tomorrow %>
                                <img class="weatherImage" src='http://openweathermap.org/img/wn/<%= icon %>@2x.png'>
                                <% break %>
                            <% end %>
                        <% end %>
                        <% @daily_temperatures.each do |date, temps| %>
                            <% if date.to_date == tomorrow %>
                                <p><%= temps[:min] %>° | <%= temps[:max] %>°</p>
                                <% break %>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                    <div class="div4">
                        <div class="weatherprediction">
                        <p class="bold"><%= (Date.today + 2).strftime('%A, %b %d').gsub(/\w+/, &:capitalize) %></p>
                        <% day_after_tomorrow = Date.today + 2 %>
                        <% @daily_weather_icons.each do |date, icon| %>
                        <% if date.to_date == day_after_tomorrow %>
                            <img class="weatherImage" src='http://openweathermap.org/img/wn/<%= icon %>@2x.png'>
                            <% break %>
                        <% end %>
                        <% end %>
                        <% @daily_temperatures.each do |date, temps| %>
                        <% if date.to_date == day_after_tomorrow %>
                            <p><%= temps[:min] %>° | <%= temps[:max] %>°</p>
                            <% break %>
                        <% end %>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div3">
                <div class="calendar">
                    <% status = "Frei" %>
                    <% @events.each do |event| %>
                        <% if event.dtstart <= Time.now && Time.now <= event.dtend %>
                            <% status = "Besetzt" %>
                        <% end %>
                    <% end %>
                    <div class="title">
                        <h2 class="bold">Sitzungszimmer 310 - Konferenzen</h2>
                        <% if status == "Besetzt" %>
                            <img class="size" src="<%= asset_path("occupied.png") %>" alt="">
                        <% else %>
                            <img class="size" src="<%= asset_path("free.png") %>" alt="">
                        <% end %>
                    </div>
                    <% @events.first(1).each do |event| %>
                        <div class="calendar-content-first">
                            <p class="left max-characters">Gebucht</p>
                            <p class="right"><%= german_day_name(event.dtstart) %>, <%= event.dtstart.strftime("%d") %>. <%= german_month_name(event.dtstart) %> | <%= event.dtstart.strftime("%H:%M") %> - <%= event.dtend.strftime("%H:%M") %></p>
                        </div>
                    <% end %>
                    <% @events.drop(1).first(4).each do |event| %>
                        <div class="calendar-content">
                            <p class="left max-characters">Gebucht</p>
                            <p class="right"><%= german_day_name(event.dtstart) %>, <%= event.dtstart.strftime("%d") %>. <%= german_month_name(event.dtstart) %> | <%= event.dtstart.strftime("%H:%M") %> - <%= event.dtend.strftime("%H:%M") %></p>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="div4">
                <div class="calendar">
                <% status2 = "Frei" %>
                    <% @events2.each do |event2| %>
                        <% if event2.dtstart <= Time.now && Time.now <= event2.dtend %>
                            <% status2 = "Besetzt" %>
                        <% end %>
                    <% end %>
                    <div class="title">
                        <h2 class="bold">Schulungsraum 1 - Theorieprüfungen</h2>
                        <% if status2 == "Besetzt" %>
                            <img class="size" src="<%= asset_path("occupied.png") %>" alt="">
                        <% else %>
                            <img class="size" src="<%= asset_path("free.png") %>" alt="">
                        <% end %>
                    </div>
                <% @events2.first(1).each do |event2| %>
                    <div class="calendar-content-first">
                        <p class="left max-characters"><%= event2.summary.split("/").first.strip %></p>
                        <p class="right"><%= german_day_name(event2.dtstart) %>, <%= event2.dtstart.strftime("%d") %>. <%= german_month_name(event2.dtstart) %> | <%= event2.dtstart.strftime("%H:%M") %> - <%= event2.dtend.strftime("%H:%M") %></p>
                    </div>
                <% end %>
                <% @events2.drop(1).first(3).each do |event2| %>
                    <div class="calendar-content">
                        <p class="left max-characters"><%= event2.summary.split("/").first.strip %></p>
                        <p class="right"><%= german_day_name(event2.dtstart) %>, <%= event2.dtstart.strftime("%d") %>. <%= german_month_name(event2.dtstart) %> | <%= event2.dtstart.strftime("%H:%M") %> - <%= event2.dtend.strftime("%H:%M") %></p>
                    </div>
                <% end %>
                <div id="status" style="display: none;"><%= status2 %></div>
                </div>
            </div>

            <div class="div5">
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" id="daily-progress"></div>
                </div>
                
              <div class="message" id="message">
                <marquee behavior="scroll" direction="left" scrollamount="5" onfinish="updateMessage()">
                    Herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal!
                </marquee>
              </div>

              <script>
                function updateMessage() {
                    var currentDate = new Date();
                    var currentHour = currentDate.getHours();
                    var currentMinute = currentDate.getMinutes();
                    var currentSecond = currentDate.getSeconds();

                    if (currentMinute === 0 && currentSecond === 0) {
                        var messageDiv = document.getElementById("message");
                        var status2 = document.getElementById('status').innerText;
                        var messageContent = "";

                        if (status2 == "Besetzt") {
                            messageContent = "Herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal! Bitte nehmen Sie Platz und warten Sie hier für Ihre Theorieprüfung. Sie werden in Kürze abgeholt. Vielen Dank und viel Glück!";
                        } else if (currentHour >= 6 && currentHour < 9) {
                            messageContent = "Guten Morgen und herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal!";
                        } else if (currentHour >= 11 && currentHour < 13) {
                            messageContent = "Guten Appetit und eine angenehme Pause!";
                        } else if (currentHour >= 16 && currentHour < 19) {
                            messageContent = "Einen schönen Feierabend! Erhole dich gut und bis morgen!";
                        } else {
                            messageContent = "Herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal!";
                        }

                        messageDiv.innerHTML = '<marquee behavior="scroll" direction="left" scrollamount="5">' + messageContent + '</marquee>';
                    }
                }

                // Rufe die Funktion einmal auf, um die Nachricht zu initialisieren
                updateMessage();

                // Aktualisiere die Nachricht jede volle Stunde
                setInterval(updateMessage, 1000);
                </script>

                <script>
                function updateProgress() {
                    const now = new Date();
                    const startOfDay = new Date(now);
                    startOfDay.setHours(7.30, 0, 0, 0); // Setzt die Startzeit auf 6 Uhr
                    const endOfDay = new Date(now);
                    endOfDay.setHours(17, 0, 0, 0); // Setzt die Endzeit auf 18 Uhr

                    // Berechne den Fortschritt in Prozent
                    const totalMilliseconds = endOfDay - startOfDay;
                    const currentMilliseconds = now - startOfDay;
                    const progressPercent = (currentMilliseconds / totalMilliseconds) * 100;

                    // Setze die Breite der Fortschrittsleiste entsprechend
                    const progressBar = document.getElementById("daily-progress");
                    progressBar.style.width = progressPercent + "%";
                }

                // Rufe die Funktion zum Aktualisieren alle 10 Sekunden auf (optional kannst du das Intervall anpassen)
                setInterval(updateProgress, 10000);
                </script>


            </div>
        </div>
    </div>
   </body>
</html>