<!DOCTYPE html>

<html lang="de">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="1800">
      <link href="css/Stylesheet.css" rel="Stylesheet">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="icon" href="Bilder/Logo.png">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DotGothic16">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <title>TVStation</title>
   </head>
<body>
    <div class="header">
        <h1>Zentrale Informatik</h1>
        <p class="date" id="current-time"></p>
        <div class="bl-logo">
        <%= image_tag("Baselland.png", size: "235x55") %>
        </div>
    </div>

    <script>
        function updateTime() {
        const currentTime = new Date();
        const options = { weekday: 'long', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
        const formattedTime = currentTime.toLocaleDateString('ch', options);
        document.getElementById('current-time').innerText = formattedTime;
        }
        updateTime();
        setInterval(updateTime, 1000);
    </script>

    <div class="body">
        <div class="parent">
            <div class="div1"> 
                <div class="news">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="10000">
                        <ol class="carousel-indicators">
                        <% @i_news.each_with_index do |_, index| %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <%= index == 0 ? 'class="active"' : '' %>></li>
                        <% end %>
                        </ol>
                        <div class="carousel-inner">
                            <% @i_news.each_with_index do |item, index| %>
                                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                                    <div class="news-slide">
                                        <img class="minheightimg" src="<%= asset_path(item["author"] + ".png") %>" alt="">
                                        <p id="devider">- - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
                                        <h3 class="minheight"><%= truncate_title(item["title"], item["author"]) %></h3>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div2"> 
                <div class="inner-parent">
                <div class="div1">
                    <div class="weather">
                        <h2 class="bold">Heute</h2>
                        <img class="weatherImage" src='https://openweathermap.org/img/wn/<%= @data["weather"].first["icon"] %>@2x.png' />
                        <p class="temperatur bold"><%= @data["main"]["temp"] %>°</p>
                        <i class="weather-description"><%= @data["weather"].first["description"] %></i>
                        <p class="weatherinfo">Luftfeuchtigkeit: <%= @data["main"]["humidity"] %>%</p>
                        <p class="weatherinfo2"> Windstärke: <%= @data["wind"]["speed"] %> km/h</p>
                    </div>
                </div>
                <% (2..7).each do |i| %>
                <div class="div<%= i %>">
                    <div class="weatherprediction<%= i > 4 ? 'Under' : '' %>">
                    <p class="bold"><%= german_day_name(Date.parse(@days[i-1]["datetime"])) %>, <%= german_month_name_short(Date.parse(@days[i]["datetime"])) %> <%= Date.parse(@days[i-1]["datetime"]).strftime("%d") %></p>
                    <p>Temp: <%= @days[i-1]["temp"] %>°</p>
                    <i><%= multiline_text(@days[i-1]["conditions"]) %></i>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
            <div class="div3">
                <div class="calendar">
                    <% status = "Frei" %>
                    <% @events.each do |event| %>
                        <% if event.dtstart <= Time.now && Time.now <= event.dtend %>
                            <% status = "Besetzt" %>
                        <% end %>
                    <% end %>
                    <div class="title">
                        <h2 class="bold">Sitzungszimmer 310 - Konferenzen</h2>
                        <% if status == "Besetzt" %>
                            <img class="size" src="<%= asset_path("occupied.png") %>" alt="">
                        <% else %>
                            <img class="size" src="<%= asset_path("free.png") %>" alt="">
                        <% end %>
                    </div>
                    <% @events.first(1).each do |event| %>
                        <div class="calendar-content-first">
                            <p class="left max-characters"><%= event.summary %></p>
                            <p class="right"><%= event.dtstart.strftime("%d") %>. <%= german_month_name(event.dtstart) %> | <%= event.dtstart.strftime("%H:%M") %> - <%= event.dtend.strftime("%H:%M") %></p>
                        </div>
                    <% end %>
                    <% @events.drop(1).first(4).each do |event| %>
                        <div class="calendar-content">
                            <p class="left max-characters"><%= event.summary %></p>
                            <p class="right"><%= event.dtstart.strftime("%d") %>. <%= german_month_name(event.dtstart) %> | <%= event.dtstart.strftime("%H:%M") %> - <%= event.dtend.strftime("%H:%M") %></p>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="div4">
                <div class="calendar">
                <% status2 = "Frei" %>
                    <% @events2.each do |event2| %>
                        <% if event2.dtstart <= Time.now && Time.now <= event2.dtend %>
                            <% status2 = "Besetzt" %>
                        <% end %>
                    <% end %>
                    <div class="title">
                        <h2 class="bold">Schulungsraum 1 - Theorieprüfungen</h2>
                        <% if status2 == "Besetzt" %>
                            <img class="size" src="<%= asset_path("occupied.png") %>" alt="">
                        <% else %>
                            <img class="size" src="<%= asset_path("free.png") %>" alt="">
                        <% end %>
                    </div>
                <% @events2.first(1).each do |event2| %>
                    <div class="calendar-content-first">
                        <p class="left max-characters"><%= event2.summary %></p>
                        <p class="right"><%= event2.dtstart.strftime("%d") %>. <%= german_month_name(event2.dtstart) %> | <%= event2.dtstart.strftime("%H:%M") %> - <%= event2.dtend.strftime("%H:%M") %></p>
                    </div>
                <% end %>
                <% @events2.drop(1).first(4).each do |event2| %>
                    <div class="calendar-content">
                        <p class="left max-characters"><%= event2.summary %></p>
                        <p class="right"><%= event2.dtstart.strftime("%d") %>. <%= german_month_name(event2.dtstart) %> | <%= event2.dtstart.strftime("%H:%M") %> - <%= event2.dtend.strftime("%H:%M") %></p>
                    </div>
                <% end %>
                <div id="status" style="display: none;"><%= status2 %></div>
                </div>
            </div>

            <div class="div5">
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" id="daily-progress"></div>
                </div>
                
              <div class="message" id="message">
                <marquee behavior="scroll" direction="left" scrollamount="5" onfinish="updateMessage()">
                    Herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal!
                </marquee>
              </div>

              <script>
                function updateMessage() {
                    var currentDate = new Date();
                    var currentHour = currentDate.getHours();
                    var currentMinute = currentDate.getMinutes();
                    var currentSecond = currentDate.getSeconds();

                    if (currentMinute === 0 && currentSecond === 0) {
                        var messageDiv = document.getElementById("message");
                        var status2 = document.getElementById('status').innerText;
                        var messageContent = "";

                        if (status2 == "Besetzt") {
                            messageContent = "Herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal! Bitte nehmen Sie Platz und warten Sie hier für Ihre Theorieprüfung. Sie werden in Kürze abgeholt. Vielen Dank und viel Glück!";
                        } else if (currentHour >= 6 && currentHour < 9) {
                            messageContent = "Guten Morgen und herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal!";
                        } else if (currentHour >= 11 && currentHour < 13) {
                            messageContent = "Guten Appetit und eine angenehme Pause!";
                        } else if (currentHour >= 16 && currentHour < 19) {
                            messageContent = "Einen schönen Feierabend! Erhole dich gut und bis morgen!";
                        } else {
                            messageContent = "Herzlich willkommen bei der Zentralen Informatik, Frenkendörferstrasse 17 in Liestal!";
                        }

                        messageDiv.innerHTML = '<marquee behavior="scroll" direction="left" scrollamount="5">' + messageContent + '</marquee>';
                    }
                }

                // Rufe die Funktion einmal auf, um die Nachricht zu initialisieren
                updateMessage();

                // Aktualisiere die Nachricht jede volle Stunde
                setInterval(updateMessage, 1000);
                </script>

                <script>
                function updateProgress() {
                    const now = new Date();
                    const startOfDay = new Date(now);
                    startOfDay.setHours(6, 0, 0, 0); // Setzt die Startzeit auf 6 Uhr
                    const endOfDay = new Date(now);
                    endOfDay.setHours(18, 0, 0, 0); // Setzt die Endzeit auf 18 Uhr

                    // Berechne den Fortschritt in Prozent
                    const totalMilliseconds = endOfDay - startOfDay;
                    const currentMilliseconds = now - startOfDay;
                    const progressPercent = (currentMilliseconds / totalMilliseconds) * 100;

                    // Setze die Breite der Fortschrittsleiste entsprechend
                    const progressBar = document.getElementById("daily-progress");
                    progressBar.style.width = progressPercent + "%";
                }

                // Rufe die Funktion zum Aktualisieren alle 10 Sekunden auf (optional kannst du das Intervall anpassen)
                setInterval(updateProgress, 10000);
                </script>


            </div>
        </div>
    </div>
   </body>
</html>